<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Runtrack Express - À propos</title>
    <link rel="stylesheet" href="/styles/about.css" />
  </head>
  <body>
    <main>
      <img
        src="/images/about_background.jpeg"
        alt="Une image d'une porte de paradis creuser dans une montagne au bord de mer"
      />
      <h1>À propos de nous</h1>
    </main>
  </body>
</html>
