<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Runtrack Express - Accueil</title>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <main>
      <img src="/images/home_background.jpeg" alt="Une image de nuit d'une montagne" />
      <h1>Bienvenue sur mon site !</h1>
    </main>
  </body>
</html>
